
@model List<fruitkha_main.Models.article>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/Layout.cshtml";
}
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Search For:</h3>
                        <input type="text" placeholder="Keywords">
                        <button type="submit">Search <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search arewa -->
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Organic Information</p>
                    <h1>News Article</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- latest news -->
<div class="latest-news mt-150 mb-150">
    <div class="container">      
        <div class="row news-lists">
                @foreach (var item in Model)
                {
            <div class="col-lg-4 col-md-6 ">
                    <div class="single-latest-news">
                        <a href="/User/Single_News/Index"><img src="~/Areas/Asset/FileUpload/@Html.DisplayFor(modelItem => item.avatar)" alt=""></a>
                        <div class="news-text-box">
                            <h3><a href="/User/Single_News/Index">@item.title</a></h3>
                            <p class="blog-meta">
                                <span class="author"><i class="fas fa-user"></i> @item.author</span>
                                <span class="date"><i class="fas fa-calendar"></i> @item.create_day</span>
                            </p>
                            <p class="excerpt">@item.articles_content</p>
                            <a href="/User/Single_News/Index" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                
                </div>
                }


        </div>
                
    </div>
</div>
<!-- end latest news -->
<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="~/Areas/User/assets/img/company-logos/1.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/Areas/User/assets/img/company-logos/2.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/Areas/User/assets/img/company-logos/3.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/Areas/User/assets/img/company-logos/4.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/Areas/User/assets/img/company-logos/5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->
